<nav class="nav">
  <div class="nav__inner">
    <!-- Left -->
    <a class="brand" routerLink="dashboard">
      <span class="brand__logo">ET</span>
      <span class="brand__text">EmployeeTracker</span>
    </a>

    <!-- Right -->
    <div class="links">
      <!-- Logged in -->
      <ng-container *ngIf="auth.isLoggedIn(); else loggedOut">
        <!-- Dashboard ONLY for MANAGER or ADMIN -->
        <ng-container *ngIf="userService.me$ | async as me">
          <a
            *ngIf="me.role === 'ADMIN' || me.role === 'MANAGER'"
            routerLink="/dashboard"
            routerLinkActive="active"
            class="link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Dashboard
          </a>
        </ng-container>

        <!-- Profile always visible when logged in -->
        <a routerLink="/profile" routerLinkActive="active" class="link"> My Profile </a>

        <button class="btn btn--ghost" (click)="logout()">Logout</button>
      </ng-container>

      <!-- Logged out -->
      <ng-template #loggedOut>
        <a routerLink="/login" routerLinkActive="active" class="btn btn--primary"> Login </a>
      </ng-template>
    </div>
  </div>
</nav>
